@use "./variables";

.nav{
    display: flex;
    background-color: variables.$deepBlue;
    text-align: center;
    
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    color: variables.$offWhite;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: variables.$subHeaderFont;
    font-size: 24px;
}