//Colors

$black: #2A3033;
$deepBlue: #424B6D;
$blue: #546CBE;
$skyBlue: #CAD2EC;
$beige: #EEAF98;
$offWhite: #F2F4F5;

//Fonts

$headerFont: "Playfair Display";

$subHeaderFont: "Source Sans Pro";

$projectTitle: "Source Sans Pro";

$bodyFont: "Source Sans Pro";

$baseFontSize: 1rem;