html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #F2F4F5;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #424B6D;
  text-align: center;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  color: #F2F4F5;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Source Sans Pro";
  font-size: 24px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #424B6D;
  height: 500px;
}

.headerAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
}

.headerAlign h1 {
  font-family: "Playfair Display";
  color: #F2F4F5;
  font-size: 72px;
  margin: 0 auto;
}

.headerAlign h2 {
  font-family: "Source Sans Pro";
  color: #F2F4F5;
  font-size: 24px;
}

.headerAlign a {
  font-family: "Source Sans Pro";
  border: none;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 12px 36px;
  background-color: #EEAF98;
  color: #2A3033;
  font-size: 16px;
  font-weight: bold;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F4F5;
  height: 400px;
}

.aboutAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
}

.aboutAlign h3 {
  font-family: "Playfair Display";
  color: #546CBE;
  font-size: 58px;
  margin: 0 auto;
}

.aboutAlign p {
  width: 70%;
  font-family: "Source Sans Pro";
  line-height: 24px;
  text-align: center;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #CAD2EC;
}

.skillsAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
}

.skillsAlign h4 {
  font-family: "Playfair Display";
  font-size: 60px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.skillsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding-bottom: 58px;
}

.skillsFlex div p {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 18px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F4F5;
}

.projectsAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1000px;
}

.projectsAlign h4 {
  font-family: "Playfair Display";
  font-size: 48px;
  color: #424B6D;
}

.alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 5px;
}

.alignmentReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 5px 5px;
}

.projectsBox {
  padding: 15px;
}

.projectsBox h5 {
  font-family: "Source Sans Pro";
  margin: 0 auto;
  font-size: 20px;
}

.projectsBox h6 {
  font-family: "Source Sans Pro";
  margin: 0 auto;
  font-size: 16px;
  color: #424B6D;
}

.projectsBox p {
  width: 80%;
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 28px;
}

.projectsBox a {
  font-family: "Source Sans Pro";
  border: none;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 12px 36px;
  background-color: #EEAF98;
  color: #2A3033;
  font-size: 16px;
  font-weight: bold;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #546CBE;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #424B6D;
}